body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    border: 4px solid red;
    justify-content: center;
    width: 40em;
    height: 65vh;
    margin: 0 auto;
    margin-top: 2em;
}