body {
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
}

.ubuntu-light {
  font-family: "Ubuntu-light", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
}

.container {
    display: flex;
    flex-direction: column; 
    border: 2px solid #999999;
    width: 40em;
    height: 65vh;
    margin: 0 auto;
    margin-top: 2em;
}

nav {
    margin-top: 0;
}

.color-box {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
    align-items: center;
    padding-bottom: 15px;
}

.color-picker {
    height: 40px;
    width: 60px;
    
}

select #color-type {
    padding: 10px 80px 10px 20px;
}

select {
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 4px;
    border: 1px solid #9CA3AF;
    font-family: "Ubuntu-light", sans-serif;
    font-weight: 300;
}

option:checked {
  font-weight: 550;
}

option::checkmark {
  order: 1;
  margin-left: auto;
  content: "✔";
}

select,
::picker(select) {
  appearance: base-select;
} 

select::picker-icon {
  color: #999999;
  padding-left: 2em;
}

::picker(select) {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 0.2em;
}

option {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  background: white;
  padding: 5px;
  font-weight: 300;
}

option:hover {
  cursor: pointer;
}

button {
    padding: 10px 15px;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    background-color: white;
   font-family: "Ubuntu-light", sans-serif;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
    font-weight: 400;
   border: 2px solid black;
}

/* Colors */ 

.color-scheme {
    display: flex;
    height: 80%;
    width: 100%;
}

.c1 {
    background-color: black;
    width: 20%;
}

.c2 {
    background-color: skyblue;
    width: 20%;
}

.c3 {
    background-color: orange;
    width: 20%;
}

.c4 {
    background-color: goldenrod;
    width: 20%;
}

.c5 {
    background-color: rebeccapurple;
    width: 20%;
}

.hex-values {
    display: flex;
    text-align: center;
    margin-bottom: 1em;
    padding-top: 1em;
    color: black;
}

.hex-1 {
    width: 20%;
     color: black;
}

.hex-2 {
    width: 20%;
     color: black;
}

.hex-3 {
    width: 20%;
}

.hex-4 {
    width: 20%;
}

.hex-5 {
    width: 20%;
}